<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
    
        <title>Colmado App</title>
    
        {# Cargamos la librería #}
        {% load bootstrap4 %}
    
        {# CSS Bootstrap #}
        {% bootstrap_css %}
    
    
    </head>
    <body>



        {# JS y jQuery Bootstrap #}
	  {% bootstrap_javascript jquery='full' %}
    </body>
</html>