

<form action="/fiao" method="POST">
    <h2>Agregar cliente</h2>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre">
    <br>
    <label for="limite_credito">Credito aprovado: </label>
    <input type="number" name="limite_credito">
    <br>
    <input type="submit" value="Enviar">
</form>